// COLORS
$color-midnight-green: #014e56;
$color-light-coral: #f67e7e;
$color-white: #fff;

$color-rapture-blue: #79c8c7;
$color-police-blue: #2c6269;
$color-deep-jungle-green: #004047;
$color-sacramento-state-green: #012f34;
$color-dark-green: #002529;

// FONT
$font-default-size: 1.5rem;
